#basket {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: table;
  width: 100%;
  height: $footer-height;
  padding-right: 10px;
  font-family: safo-font('sans-serif');
  font-size: 12px;
  color: safo-color('text-neutral-dark');
  background-color: safo-color('light');
  box-shadow: 0 0 10px safo-color('text-neutral-light');

  // .button {
  //   height: 38px;
  //   margin-top: 5px;
  //   margin-right: 20px;
  //   line-height: 30px;
  //   padding:0 20px;
  // }

  .composition {
    position: relative;
    float: left;
    margin-top: 37px;
    margin-left: 40px;
  }

  .small-picto {
    margin-top: 12px;
    margin-left: 20px;
  }

  .panier {
    margin-top: 15px;
    margin-left: 50px;

    &:before {
      position: absolute;
      top: 12px;
      left: 15px;
      display: block;
      width: 23px;
      height: 23px;
      font-family: safo-font('picto');
      font-size: 23px;
      content: "\f07a";
    }
  }

  .name {
    margin: 0;
    margin-top: 15px;
    color: safo-color('text-neutral-dark');
  }

  .cgv {
    position: relative;
    left: 40px;
    display: table-cell;
    vertical-align: middle;
  }

  #basket_informations {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 5px;
    margin-right: 223px;
    font-family: safo-font('sans-serif');
    font-size: 12px;
    line-height: 10px;
    color: safo-color('text-neutral');
  }

  .order-button-container{
    position: relative;
    padding: 0 20px 0 53px;
    margin-top: 0;
    text-decoration: none;

    .validate-link{
      color:safo-color('text-neutral-light');
      font-size: 12px;
      text-decoration: none;
      vertical-align: middle;
      line-height: 35px;
      &.validate{
        &:before {
          position: relative;
          margin-right: 10px;
          font-size: 23px;
          vertical-align: middle;
          font-family: safo-font('picto');
          content: "\f00c";   
        }
      }
      &.order{
        &:before {
          position: relative;
          margin-right: 10px;
          font-size: 23px;
          vertical-align: middle;
          font-family: safo-font('picto');
          content: "\f07a";   
        }
      }
    }
  }
}

#basket-panier {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: $footer-height;
  padding-right: 10px;
  background-color: safo-color('light');
  box-shadow: 0 0 10px safo-color('text-neutral-light');
}

.nb-products {
  margin-top: 15px;
  margin-left: 5px;
}

.basket-subheader-container {
  // margin-bottom: -15px;
}

.basket-subheader-element {
  .basket-subheader-button {
    position: relative;
    height: 35px;
    padding: 0 20px 0 45px;
    margin: 25px 0 0;
    line-height: 35px;
    cursor: pointer;

    &:before {
      position: absolute;
      top: 0;
      left: 15px;
      font-family: safo-font('picto');
      font-size: 25px;
      color: safo-color('primary-light');
    }
  }
}

#basket_error {
  position: fixed;
  right: 400px;
  font-family: safo-font('sans-serif', 'semi-bold');
  font-size: 15px;
  line-height: $footer-height;
  color: safo-color('error');
  text-align: center;
}

#totalHT {
    width: 105px;
    display: inline-block;
    text-align: right;
}