<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Maintenance!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('bundles/sogedialintegration/css/error-page.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container">
    <img src="{{ image('/images/logo-commande.com.svg') }}" />
    <p class="error">Site web en cours de maintenance!</p>
    <p>Le service sera de nouveau disponible bientot.</p>
    <p>Si le problème persiste, contactez le <a href="mailto:1919@groupesafo.com " title="1919@groupesafo.com ">support</a>.</p>
</div>
</body>
</html>