<p>Bonjour <strong>{{ clientName |capitalize  }}</strong>,</p>


<p>Veuillez-trouver ci-joint le récapitulatif de votre commande N° [<strong>{{ orderNumber }}</strong>].</p>

Bien cordialement,

{% if comment != "" %}
    Commentaire du client:
    <p>{{comment}}</p>
{% endif %}