<p>Bonjour,</p>

<p>Ci-dessous la liste des PCMD dont le fichier de commande n'a pas été généré.</p>

<ul>
    {% for list in listToSend %}
        <li>{{ list|e }}</li>
    {% endfor %}
</ul>

<p>Cordialement,</p>
