<div id="footer">
        {% if entrepriseInfos.nomEnvironnement == 'sofridis' %}
            <p>SOFRIDIS - S.A.R.L au capital de 702 300 € - Siège social: Immeuble BERTE S.A., Z.I. Place d'Armes, 97232
                LAMENTIN - SIREN 428 299 283 - Enregistré au RCS de FORT DE FRANCE
            </p>
        {% endif %}

        {% if entrepriseInfos.nomEnvironnement == 'logigua' %}
            <p>LOGIGUA - S.A.R.L au capital de 682 500 € - Siège social: Lieu-dit belle Plaine, 97139 LES ABYMES - SIREN 405
                310 608 - Enregistré au RCS de POINTE-A-PITRE
            </p>
        {% endif %}

        {% if entrepriseInfos.nomEnvironnement == 'cadi' %}
            <p>CADI SURGELES - Société par actions simplifiée au capital de 900 000 € - Siège social: Voie Verte, Houelbourg
                III, Z.I. de Jarry, 97122 BAIE MAHAULT​ - SIREN 322 625 963 - Enregistré au RCS de POINTE-A-PITRE
            </p>
        {% endif %}

        {% if entrepriseInfos.nomEnvironnement == 'sofriber' %}
            <p>SOCIETE D'EXPLOITATION DE BERGEVIN - Société par actions simplifiée au capital de 1 360 000 € - Siège social:
                Voie Verte, Parcelle Nr Am 182, Z.I. de Jarry, ZAC Houelbourg III, 97122 BAIE MAHAULT - SIREN 353 511 157 -
                Enregistré au RCS de POINTE-A-PITRE
            </p>
        {% endif %}

        {% if entrepriseInfos.nomEnvironnement == 'mvi' %}
            <p>MARTINIQUE VIANDES - Société par actions simplifiée au capital de 1 372 000 € - Siège social: Z.I. Place
                d'Armes, 97232 LAMENTIN - SIREN 310 941 232 - Enregistré au RCS de FORT DE FRANCE
            </p>
        {% endif %}

        {% if entrepriseInfos.nomEnvironnement == 'scagex' %}
            <p>SCAGEX - S.A au capital de 200 000 € - Siège social: Z.I. Place d'Armes, 97232 LAMENTIN - SIREN 343 212 122 -
                Enregistré au RCS de FORT DE FRANCE
            </p>
        {% endif %}

        {% if entrepriseInfos.nomEnvironnement == 'sofrigu' %}
            <p>SOCIÉTÉ FRIGORIFIQUE GUYANAISE - Société par actions simplifiée au capital de 6 054 750 € - Siège social: PK 1,5
                route de baduel 97300 Cayenne - SIREN 429 191 000 - Enregistré au RCS de CAYENNE
            </p>
        {% endif %}

        {% if entrepriseInfos.nomEnvironnement == 'sogedial' %}
            <p>SOGEDIAL EXPLOITATION - Société par actions simplifiée au capital de 2 447 250 € - Siège social: 419 rue des
                chantiers 76600 le Havre - SIREN 408 789 279 - Enregistré au RCS de LE HAVRE
            </p>
        {% endif %}

        {% if entrepriseInfos.nomEnvironnement == 'sofrima' %}
            <p>SOFRIMA RESTAURATION - Société par actions simplifiée à associé unique au capital de 530 000 € -
                Siège social: ZI LA LEZARDE, 97232 LE LAMENTIN (97213) - SIREN 419 329 313 - Enregistré au RCS de FORT DE FRANCE
            </p>
        {% endif %}

        {% if entrepriseInfos.nomEnvironnement == 'prodom' %}
            <p>SODIGUA - S.A.R.L au capital de 40 000 € - CENTRE COMMERCIAL COLLIN'S,
                COLIN NORD PARC D'ACTIVITE DE LA LEZARDE, 97170 PETIT BOURG - SIREN 390 384 691 - Enregistré au RCS de POINTE-A-PITRE
            </p>
        {% endif %}
</div>