<table class="lgo">
    <tr>
        <td style="text-align: left; "colspan="3"><img src="{{ logoPath }}" width="148" height="40" /></td>
        <td style="text-align: left" colspan="3"><strong>Bon de commande N° {{ orderNumber }}</strong></td>
        <td style="text-align: right" colspan="2"><strong>le {{ "now"|date("d/m/Y") }}</strong></td>
    </tr>
</table>